/* FONTS USED */

/* Headings ---> font-family: 'Poppins', sans-serif;
   Body Content ---> font-family: 'Roboto Slab', serif; */



/* ROOT CSS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}





/* GLOBAL CSS */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.colorRed {
    color: red;
}


a, a:hover {
    text-decoration: none;
    color: #fff;
}

.w-100 {
    width: 100%;
}

.flex-space, .flex-center,
.flex-evenly, .flex-start, 
.flex-end {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-space {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}





/* NAV CSS */

.nav {
    height: 145px;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: #fff;
    z-index: 1;
}

.navLogo{
    position: absolute;
    top: 11rem;
    width: 37.5rem;
    transition: 1s;
 }

.navItems {
    font-size: 1.2rem;
}



/* NAV SIMILAR CSS */

.navLeftSec, .navRightSec {
    width: auto;
    transition: 0.8s;
    margin: 0 1rem;
    gap: 2rem;
    overflow: hidden;
}





/* SIDEBAR CSS FOR RESPONSIVE */


.openNavBtn, .closeNavBtn {
    width: 36px;
    font-size: 24px;
    font-weight: bolder;
    color: #fff!important;
    background-color: transparent;
    border: none;
    position: relative;
    top: -8px;
    cursor: pointer;
    display: none;
}

.closeNavBtn {
    top: 30px;
    left: 90px;
    font-size: 36px;
}

.sideBar a {
    color: #fff;
    transition: 0.5s;   
}


.sideBar {
    width: 0;
    height: 100vh;
    color: #000;
    background-color: #000000e6;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.8s;
    z-index: 1;
}

.sideBar ul {
    margin: 5rem 0;
    padding: 0;
}

.sideBar ul li {
    list-style: none;
    color: #818181;
    font-size: 19px;
}

.sideBar ul li:hover {
    color: #fff;
}


.sideBarAnimation {
    display: block;
    width: 22rem;
}



/* NAV LOGO ANIMATION EFFECT */

.navLeft {
    padding-right: 70px;
}

.navRight {
    padding-left: 70px;
}

.logoAnimation {
    top: -10px;
    width: 300px;
    padding-right: 0.5rem;
}





/* MAIN CONTAINER CSS */

.mainContainer {
    text-align: center;
}





/* VIDEO SECTION CSS */

.mainImg {
    position: absolute;
    width: 37.5rem;
    margin: auto;
    display: none;
}

#myVideo {
    max-width: 100%;
    height: auto;
}





/* TITLE SECTION CSS */

.typeText {
    color: #888888;
}



/* TITLE & PRICING SECTION SAME CSS */

#titleSec,
.priceUpperArea {
    width: 65%;
    margin: auto;
    padding: 4rem 0;
}

/* #titleSec, 
.priceUpperArea {

} */

#titleSec h1,
#pricing h2, 
#contact h2 {
    font-size: 3rem;
    margin-bottom: 16px;
}

#titleSec p, .priceUpperArea p {
    font-size: 1.25rem;
}



/* Typing CSS */

.cursor {
    display: inline-block;
    background-color: #000;
    margin-left: 2px;
    width: 4px;    
}

.cursor.typing {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { background-color: #000; }
    49% { background-color: #000; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #000; }
}





/* SCROLL ANIMATION CSS */

.reveal {
    opacity: 0;
    transform: translateY(150px);
    transition: all .8s ease;
  }

.reveal.revealAnimation {
    opacity: 1;
    transform: translateY(0px);    
}





/* VIDEO GALLERY SECTION CSS */

#VideoSec h2, #photoSec h2 {
    font-size: 2rem;
}

.line {
    height: 7px;
    width: 20%;
    background: #000;
    border-radius: 10px;
    margin: 0.8rem auto 3rem;
}

.videoArea {
    overflow: hidden;
}

.flexItem {
    width: 33.2%;
    height: 20rem;
}

.flex1, .flex2 {
    margin-bottom: 2px;
    width: 49.7%;
    height: 25rem;
}






/* PRICING SECTION CSS */

.priceUpperArea {
    padding: 4rem 0 0;
}

.priceBtnSec {
    gap: 2rem;
    padding-top: 2rem;
}

.videoBtn, .photoBtn, 
.cardBtn, .inputSubmit {
    color: #818181;
    font-size: 22px;
    /* margin: 2rem 2rem 0; */
    padding: 1.2rem 5rem;
    background: #f4f4f4;
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
}

.videoBtn:hover, .photoBtn:hover, .cardBtn:hover,
.videoBtn.active, .photoBtn.active{
    background-color: #000000e6;
    color: whitesmoke;
    text-shadow: 0 0 10px #FFE, 0 0 10px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 111px #fff, 0 0 5px #fff;
}

.videoBtn {
    padding: 1.2rem 3rem;
}

.cinCard, .photCard {
    width: auto;
    height: 100%;
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.2);
    color: #818181;
    display: none;
}

.cinCard h4, .photCard h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    background-color: #000;
    color: whitesmoke;
    border-radius: 1rem 0;
    padding: 1rem;
}

.cinCard p, .photCard p {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
    padding: 1rem 0;
    margin: 0;
    color: #6f6f6f;
}
 
.cardBtn {
    margin: 1rem 0.5rem 0;
    padding: 0.8rem 4rem;
    color: #000;
}

.cardBtn:hover {
    text-shadow: none;
}

.notMainBtn {
    background-color: #000000e6;
    color: #ffffffd6;
}

.cinCardSec, .photoCardSec {
    align-items: flex-start;
    transition: 0.5s;
    gap: 2rem;
}





/* PHOTO SECTION CSS */

#photoSec h2 {
    margin-top: 4rem;
}

/* Slider CSS */

.slide-container {
    position: relative;
    height: 700px;
    overflow: scroll;
    -ms-overflow-style: none;  /* [Internet Explorer 10+] hide Scroll bar */
    scrollbar-width: none;  /* [Firefox] hide Scroll bar */
}

.slide-container::-webkit-scrollbar { 
    display: none;  /* [Safari and Chrome] hide Scroll bar */
}

.slide {
    display: none;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    left: 0%;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {

    0% {
        transform: translate(100%);
        opacity: 0;
    }
    
    100% {
        transform: translate(0%);
        opacity: 1;
    }
        
}

.slide P {
    font-size: 1.6rem;
    bottom: 6%;
}

.slide h4 {
    bottom: 12%;
    font-size: 3.1rem;
}

.slide h4, .slide p {
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-shadow: 2px 2px 5px black;
}

.slide-container:hover .arrow {
    display: block;
}

.arrow {
    display: none;
    user-select: none;
    font-size: 35px;
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    padding: 5px 22px;
    cursor: pointer;
    bottom: 50%;
    transform: translateY(50%);
}

.arrow:hover {
    color: red;
}

.prev-arrow {
    left: 5%;
}

.next-arrow {
    right: 5%;
}

.slide img, .slide p,
.slide h4, .arrow {
    position: absolute;
    font-weight: bolder;
}

.dot {
    position: relative;
    top: 95%;
    cursor: pointer;
    height: 10px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 40%;
    border: 1px solid #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}



/* Image Gallery CSS */

.imageGallery {
    background-color: #000;
    transition: 5s;
}

.galCol1, .galCol2, .galCol3 {
    flex-direction: column;
    overflow: hidden;
}

.imageGallery img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .5s;
}

.imageGallery img:hover {
    width: 105%;
}





/* CONTACT SECTION CSS */

#contact {
    background: linear-gradient(90deg, rgba(62,61,62,1) 0%, rgba(23,22,22,1) 46%, rgba(42,40,38,1) 100%);
    margin-top: 16px;
    text-align: center;
    padding: 3rem 1rem;
}

#contact h2 {
    color: #fff;
}

#contact form {
    gap: 2rem;
}

#contact form input {
    outline: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 40%;
    padding: 1rem 0;
}

.inputSubmit {
    margin-top: 1rem!important;
    font-size: 1.5rem;
}

.inputSubmit:hover {
    background-color: #000!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}





/* FOOTER CSS */

.footTop {
    align-items: flex-start!important;
    color: whitesmoke;
    background-color: #000;
    padding: 4rem 1.5rem;
    gap: 2rem;
}

.footTop h4 {
    font-size: 20px;
}

.footTop p, 
.footTop span {
    font-size: 18px;
}

.footerCol1, .footerCol3 {
    text-align: center
}

.footerCol2 {
    text-align: left;
}

.footerCol1 i {
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.footerCol2 i {
    margin-right: 16px;
}

.footerCol3 p {
    border-bottom: 1px solid #fff;
}

footer h4, .footerCol3 p {
    padding-bottom: 10px;
}

.listDay {
    margin-right: 5rem;
}

.mr {
    margin-right: 3.7rem;
}

.footBottom {
    height: 50px;
    font-size: 16px;
    background: #161B17;
    color: #fff;
}