/* fonts */

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.colorRed {
    color: red;
}


a {
    text-decoration: none;
    color: #fff;
}





/* Similar CSS */

.nav, #mainSection {
    width: 100%;
}

.navLeftSec, .navRightSec {
    transition: 0.8s;
    margin-top: -1.1rem;
}





/* Nav CSS */

.nav {
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: #fff;
    z-index: 1;
}

.navLogo{
    position: absolute;
    top: 11rem;
    width: 37.5rem;
    transition: 1s;
 }

.navItems {
    font-size: 17px;
    padding: 0.3rem 1.8rem;  
}


/* Sidebar CSS For Responsive */


.openNavBtn, .closeNavBtn {
    width: 36px;
    font-size: 24px;
    font-weight: bolder;
    color: #fff!important;
    background-color: transparent;
    border: none;
    position: relative;
    top: -8px;
    cursor: pointer;
    display: none;
}

.closeNavBtn {
    top: 30px;
    left: 90px;
    font-size: 36px;
}

.sideBar a {
    color: #fff;
    transition: 0.5s;   
}


.sideBar {
    width: 0;
    height: 100vh;
    color: #000;
    background-color: #000000e6;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.8s;
    z-index: 1;
}

.sideBar ul {
    margin: 5rem 0;
    padding: 0;
}

.sideBar ul li {
    list-style: none;
    color: #818181;
    font-size: 19px;
}

.sideBar ul li:hover {
    color: #fff;
}


.sideBarAnimation {
    display: block;
    width: 22rem;
}


/* Nav Logo Animation Effect */

.navLeft {
    padding-right: 70px;
}

.navRight {
    padding-left: 70px;
}

.logoAnimation {
    top: -10px;
    width: 300px;
    padding-right: 0.5rem;
}







/* Main Container CSS */

.mainContainer {
    text-align: center;
}





/* Video Section CSS */

.mainVidSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg {
    position: absolute;
    width: 37.5rem;
    margin: auto;
    display: none;
}

#myVideo {
    max-width: 100%;
    height: auto;
}





/* Title Section CSS */

#titleSec {
    /* background-color: aqua; */
    /* background-image: url("/Images/back-image.jpg"); */
    padding: 4rem 16rem;
}

#titleSec h1, #pricing h2, #contact h2 {
    font-size: 3rem;
}

.typeText {
    color: #888888;
}

#titleSec p, .priceUpperArea p {
    font-size: 19px;
}


/* Typing CSS */

.cursor {
    display: inline-block;
    background-color: #000;
    margin-left: 2px;
    width: 4px;    
}

.cursor.typing {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { background-color: #000; }
    49% { background-color: #000; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #000; }
  }



/* Scroll Animation CSS */

.reveal {
    opacity: 0;
    transform: translateY(150px);
    transition: all .8s ease;
  }

.reveal.revealAnimation {
    opacity: 1;
    transform: translateY(0px);    
}





/* Video Gallery Section CSS */

#VideoSec h2, #photoSec h2 {
    font-size: 2rem;
}

.line {
    height: 7px;
    width: 20%;
    background: #000;
    border-radius: 10px;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
}

.videoArea {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.flexItem {
    width: 33.2%;
    height: 20rem;
}

.flex1, .flex2 {
    margin-bottom: 2px;
    width: 49.7%;
    height: 25rem;
}






/* Pricing Section CSS */

#pricing {
    padding-bottom: 5rem;
}

.priceUpperArea {
    margin: 4rem 16rem 0;
}

.videoBtn, .photoBtn, .cardBtn, .inputSubmit {
    color: #818181;
    font-size: 22px;
    margin: 2rem 2rem 0;
    padding: 1.2rem 5rem;
    background: #f4f4f4;
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
}

.videoBtn:hover, .photoBtn:hover, .cardBtn:hover {
    background-color: #000000e6;
    color: whitesmoke;
    text-shadow: 0 0 10px #FFE, 0 0 10px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 111px #fff, 0 0 5px #fff;
}

.videoBtn {
    padding: 1.2rem 3rem;
}

.cinCardSec, .photoCardSec {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 0.5s;
}

.cinCard, .photCard {
    width: auto;
    height: 100%;
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.2);
    color: #818181;
    display: none;
}

.cinCard h4, .photCard h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    background-color: #000;
    color: whitesmoke;
    border-radius: 1rem 0;
    padding: 1rem;
}

.cinCard p, .photCard p {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
    padding: 1rem 0;
    margin: 0;
    color: #6f6f6f;
}
 
.cardBtn {
    margin: 1rem 0.5rem 0;
    padding: 0.8rem 4rem;
    color: #000;
}

.cardBtn:hover {
    text-shadow: none;
}

.notMainBtn {
    background-color: #000000e6;
    color: #ffffffd6;
}







/* Photo Section CSS */

/* Slider CSS */

 .mySlider {
    position: relative;
    /* width: 100%;
    height: 748px;
    display: flex; */
    overflow-x: auto;
    overflow-y: hidden;
}

/* .imageSlider {
    
    /* overflow: hidden; 
    /* display: none; 
} */

.sliderImg {
    position: relative;
    /* bottom: -6px; */
    width: 100%;
}

.sliderImg img {
    width: 100%;
    border-bottom: 1px solid #fff;
}

#i1, #i2, #i3 {
    display: none;
}

.prev, .next, .navigator {
    position: absolute;
    top: 0;
    font-size: 260px;
    z-index: 99;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#i1:checked ~ #sliderItem1,
#i2:checked ~ #sliderItem2,
#i1:checked ~ #sliderItem3 {
    z-index: 9;
}

.dash {
    /* position: relative;
    width: 3%;
    border: 3px solid #000; */
}

/* 
.sliderText, .sliderIcon {
    position: absolute;
    left: 33rem;
    bottom: 2rem;
    color: #fff;
}

.sliderText h4 {
    font-size: 2.5rem;
}


#sliderItem1:checked ~ .sliderItem1 {
    margin-left: 0;
}
#sliderItem2:checked ~ .sliderItem2 {
    margin-left: -40%;
}
#sliderItem3:checked ~ .sliderItem3 {
    margin-left: -80%;
}


lable {
    color: #000;
} */







/* Image Gallery CSS */

.imageGallery {
    display: flex;
    background-color: #000;
    transition: 5s;
}

/* .imageGallery, .galCol1 {
    flex-wrap: wrap;
} */

.galCol1, .galCol2, .galCol3 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.imageGallery img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .5s;
}

.imageGallery img:hover {
    width: 105%;
    /* transform: scale(1.1); */
}





/* Contact Section CSS */

#contact {
    height: 500px;
    background: linear-gradient(90deg, rgba(62,61,62,1) 0%, rgba(23,22,22,1) 46%, rgba(42,40,38,1) 100%);
    margin-top: 16px;
    padding: 2rem 5rem;
}

#contact h2 {
    color: #fff;
}

#contact form {
    padding: 2rem;
}

#contact form input {
    outline: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 40%;
    padding: 1rem 0;
    margin: 1rem 4rem 0 0;
}

.inputSubmit {
    margin-top: 3rem!important;
    font-size: 24px;
}

.inputSubmit:hover {
    background-color: #000!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}



/* Footer CSS */

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: whitesmoke;
    background-color: #000;
    text-align: left;
    padding: 4rem 0;
}

footer h4 {
  font-size: 19px;
}

.footerCol1 i {
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.footerCol2 i {
    margin-right: 16px;
}

.footerCol3 p {
    border-bottom: 1px solid #fff;
}

footer h4, .footerCol3 p {
    padding-bottom: 0.5rem;
}

.listDay {
    margin-right: 5rem;
}

.mr {
    margin-right: 3.7rem;
}

.footBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    background: #161B17;
    color: #fff;
}






/* Responsive CSS */

@media screen and (max-width: 1380px) {

    #titleSec {
        padding: 4rem 12rem;
    }

    .priceUpperArea {
        margin: 4rem 12rem 0;
    }

} 


 @media screen and (max-width: 1252px) {
 
    #titleSec {
        padding: 4rem 10rem;
    }

    .priceUpperArea {
        margin: 4rem 10rem 0;
    } 


} 

@media screen and (max-width: 1188px) {
 
    #titleSec {
        padding: 4rem 8rem;
    }

    .priceUpperArea {
        margin: 4rem 8rem 0;
    }

}

 @media screen and (max-width: 1124px) {
 
    #titleSec {
        padding: 4rem 6rem;
    }

    .priceUpperArea {
        margin: 4rem 6rem 0;
    }


}

@media screen and (max-width: 1060px) {

    #titleSec {
        padding: 4rem;
    }

    .footerCol1 {
        margin-bottom: 5rem;
    }
 
    #contact {
        height: auto;
        padding: 2rem 5rem 3rem;
    }

}


@media screen and (max-width: 996px) {
 
    #titleSec {
        padding: 4rem 2rem;
    }

    html {
        font-size: 14px;
    }

    .cinCard p, .photCard p, .navItems {
        font-size: 16px;
    }

}


@media screen and (max-width: 916px) {

    html {
        font-size: 12px;
    }

    #titleSec p, .priceUpperArea p {
        font-size: 18px;
    }

    /* #contact {
        padding: 2rem 5rem 0;
    }

    #contact form {
        padding: 3rem 0 0;
    } */

    .videoBtn, .photoBtn, .cardBtn, .inputSubmit {
        font-size: 20px!important;
    }

    .cinCard, .photCard {
        width: 28%;
    }
    /* .footerCol1 {
        text-align: center;
    } */

}

 @media screen and (max-width: 870px) {


    .priceUpperArea {
        margin: 4rem 4rem 0;
    }

    .navLeftSec, .navRightSec{
        visibility: hidden;
    }

    .openNavBtn, .closeNavBtn {
        display: block;
    }

    .openNavBtn {
        left: 30px;
    }

    .closeNavBtn {
        top: 40px;
        left: 112px;
        font-size: 45px;
    }

    .logoAnimation {
        top: -6px;
        padding-right: 0;
        align-items: center;
    }


/* 
    html {
        font-size: 10px;
    } */
 
   /* #titleSec h1, #pricing h2, #contact h2 {
        font-size: 2rem;
    }

    #VideoSec h2, #photoSec h2 {
        font-size: 1.5rem;
    }

    .navItems {
        padding: 5px 5px;
    }

    #contact form input {
        margin: 1rem 1rem 0 0;
    }*/

} 


@media screen and (max-width: 705px) {

    html {
        font-size: 10px;
    } 

    #titleSec p, .priceUpperArea p {
        font-size: 15px;
    }

    .videoBtn, .photoBtn, .cardBtn, .inputSubmit {
        font-size: 18px!important;
    }

    .nav {
        height: 140px;
    }

    .logoAnimation {
        top: -1px!important;
        width: 250px!important;
    }

    .navLogo {
        top: 10rem;
    }

    .sideBar ul li {
        font-size: 16px;
    }

    .closeNavBtn {
        left: 90px;
    }

    footer p {
        font-size: 15px;
    }

    .footerCol1 {
        text-align: center;
    }

}



@media screen and (max-width: 600px) {

    html {
        font-size: 8px;
    }

    /* #titleSec h1, #pricing h2, #contact h2 {
        font-size: 3.5rem;
    } */

    #VideoSec h2, #photoSec h2 {
        font-size: 2.3rem;
    }

    .closeNavBtn {
        left: 70px;
    }

    .cinCard, .photCard {
        width: 40%;
        margin-bottom: 30px;
    }

    .flexItem, .flex1, .flex2 {
        width: 100%;
        height: 42rem;
        margin-bottom: 2px;
    }

    .imageGallery {
        flex-wrap: wrap;
    }

    .imageGallery img,
    .imageGallery img:hover { 
        width: 99%;
    } 


}

@media screen and (max-width: 500px) {

    .nav {
        height: 120px;
    }

    .logoAnimation {
        top: 0px!important;
        width: 208px!important;
    }

    .mainVidSec {
        overflow: hidden;
    }

    #myVideo {
        max-width: none;
        height: 100vh;
    }
    
    .navLogo {
        top: 24rem;
        width: 50rem;
    }

    .videoBtn, .photoBtn {
        margin: 2rem 0.5rem 0;
    }

    .footerCol2 {
        margin-bottom: 3rem;
    }

    .footerCol2, .footerCol3 {
        text-align: center;
    }

}

@media screen and (max-width: 467px) {

    #titleSec h1, #pricing h2, #contact h2 {
        font-size: 4rem;
    }

    #VideoSec h2, #photoSec h2 {
        font-size: 2.5rem;
    }

    .cinCard, .photCard {
        width: 70%;
        margin-bottom: 20px;
    }

    .cinCard p, .photCard p {
        padding: 2.5rem 0;
    }

    .cardBtn {
        margin: 2rem;
    }

    #contact {
        padding: 2rem 1rem 3rem;
    }

}

@media screen and (max-width: 405px) {

    .priceUpperArea {
        margin: 4rem 2rem 0;
    }

    .videoBtn, .photoBtn {
        font-size: 20px!important;
    }

    .videoBtn {
        padding: 1.2rem 6rem;
    }

    .photoBtn {
        padding: 1.2rem 8rem;
    }

}

@media screen and (max-width: 375px) {

    #titleSec h1, #pricing h2, #contact h2 {
        font-size: 3.5rem;
    }

    .openNavBtn {
        left: 45px;
    }

    .priceUpperArea {
        margin: 4rem 2rem 0;
    }

    .cinCard, .photCard {
        width: 80%;
    }

    #contact form {
        padding: 2rem 0 2rem 2rem;
    }

    #contact form input {
        margin: 1rem 2rem 0 0;
    }

}